apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- postgres/cluster.yaml
- flaskapp/config.yaml
- flaskapp/secret.yaml
- flaskapp/deployment.yaml
patchesStrategicMerge:
- flaskapp-secret.yaml
