name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-push:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Login to DockerHub
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}  
    - name: Build and Push the Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ingos11/flaskapp:latest, ingos11/flaskapp:${{ github.run_number }}
